  .card {
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    padding-right: 20px;
    width: 30%;
    height: 25%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .card:hover {
    cursor: pointer;
  }
  .small-card-header {
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .left-item {
    position: absolute;
    right: 100%;
    transform: translateX(100%);;
  }
  .target {
    position: absolute;
    font-size: smaller;
    right: 0;
  }
  .card-value {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .card:nth-child(1) {
    background-color: #A9D6E5; /* Light red */
    /* bottom: 0; */
  }
  
  .card:nth-child(2) {
    background-color: #D3E0EA; /* Light blue */
    /* bottom: 16%; */
  }
  
  .card:nth-child(3) {
    background-color: #C1E1C1;
    /* bottom: 32%; */
  }
  
  .card:nth-child(4) {
    background-color: #A4DFE4;
    /* bottom: 48%; */
  }
  
  .card:nth-child(5) {
    background-color: #FFC074; /* Plum */
    /* bottom: 64%; */
  }
  
  .card:nth-child(6) {
    background-color: #FFB6B9; /* Light pink */
    /* bottom: 80%; */
  }